module.exports = {
  /**
     * 把16位主题色转为rgba
     * @param {*} data
     */
    colorBg: function (themeColor, rgba) {
      if (!themeColor) {
        return '#ffffff'
      }
      // 十六进制颜色值的正则表达式
      var reg = getRegExp("^#([0-9a-fA-f]{3}|[0-9a-fA-f]{6})$", "img")
      /* 16进制颜色转为RGB格式 */
      var sColor = themeColor.toLowerCase()
      if (sColor && reg.test(sColor)) {
        if (sColor.length === 4) {
          var sColorNew = '#'
          for (var i = 1; i < 4; i += 1) {
            sColorNew += sColor.slice(i, i + 1).concat(sColor.slice(i, i + 1))
          }
          sColor = sColorNew
        }
        //  处理六位的颜色值
        var sColorChange = []
        for (var i = 1; i < 7; i += 2) {
          sColorChange.push(parseInt('0x' + sColor.slice(i, i + 2)))
        }
        return 'rgba(' + sColorChange.join(',') + ',' + rgba + ')'
      } else {
        return sColor
      }
    }
}
